{% extends 'base.html.twig' %}

{% block body %}
    <h1>Place creation</h1>
    <form action="{{ path('place_new') }}" method="post" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    </form>

    <ul>
        <li>
            <a href="{{ path('place_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
